src/uvc/.Module.symvers.cmd
src/uvc/.modules.order.cmd
src/uvc/.uvc_ctrl.o.cmd
src/uvc/.uvc_debugfs.o.cmd
src/uvc/.uvc_driver.o.cmd
src/uvc/.uvc_entity.o.cmd
src/uvc/.uvc_isight.o.cmd
src/uvc/.uvc_metadata.o.cmd
src/uvc/.uvc_queue.o.cmd
src/uvc/.uvc_status.o.cmd
src/uvc/.uvc_v4l2.o.cmd
src/uvc/.uvc_video.o.cmd
src/uvc/.uvcvideo.ko.cmd
src/uvc/.uvcvideo.mod.cmd
src/uvc/.uvcvideo.mod.o.cmd
src/uvc/.uvcvideo.o.cmd
src/uvc/Module.symvers
src/uvc/modules.order
src/uvc/uvc_ctrl.o
src/uvc/uvc_debugfs.o
src/uvc/uvc_driver.o
src/uvc/uvc_entity.o
src/uvc/uvc_isight.o
src/uvc/uvc_metadata.o
src/uvc/uvc_queue.o
src/uvc/uvc_status.o
src/uvc/uvc_v4l2.o
src/uvc/uvc_video.o
src/uvc/uvcvideo.ko
src/uvc/uvcvideo.mod
src/uvc/uvcvideo.mod.c
src/uvc/uvcvideo.mod.o
src/uvc/uvcvideo.o